$font-family: 'Source Sans Pro', sans-serif;
$color-light: rgba(255, 255, 255, 0.87);
$color-dark: #242424;
$color-accent: rgb(85, 85, 218);
$background-dark: darkslategray;
$background-light: antiquewhite;

body {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: $color-light;
  background-color: $background-dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: $color-light;
  cursor: pointer;

  &:active,
  &:hover {
    color: $color-accent;
  }
}

audio {
  display: block;
  visibility: visible;
  pointer-events: auto;
}

.lightmode {
  background-color: $background-light;
  color: $color-dark;

  button {
    background-color: $background-dark;
    color: $color-light;
  }

  a {
    color: $color-dark;

    &:active,
    &:hover {
      color: $color-accent;
    }
  }
}

.footer__text {
  text-align: center;
}

.copyright {
  font-size: 0.9rem;
  color: #555;
}

.source-link {
  font-weight: bold;
  color: #0077cc;
  text-decoration: underline;
}

.year {
  font-style: italic;
}

/* Podcast section styles */
.section__podlist {
  padding: 1rem;

  &__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media screen and (min-width: 1000px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1440px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__item {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__description {
    font-size: 1rem;
  }

  &__link {
    font-size: 0.9rem;
    text-decoration: none;

    &:hover,
    &:active {
      color: lightgreen;
    }
  }

  &__audio {
    margin-top: 1rem;
    width: 100%;
  }
}

.footer__link {
  font-size: 0.9rem;
  text-decoration: none;

  &:hover,
  &:active {
    color: lightgreen;
  }
}